<div class="card" (click)="openWindow()" [style.background-color]="card.priority.color + '1b'" [style.border-color]="card.priority.color + '5b'">
  <div class="content">
    <div class="priority" [style.background-color]="card.priority.color"></div>
    <div>
      <div class="informationLine"><span class="id">#{{ card.id }}</span></div>
      <div>
        <h2 class="title">{{ card.title }}</h2>
      </div>
    </div>
  </div>
  <div class="assigned">
    <!--<div class="profilimg"></div>-->
  </div>
</div>
