.card {
  border-left: 8px solid lightgray;
  border-radius: 5px;
  max-width: 100%;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--lightgray);
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.card:hover {
  background-color: var(--lightgray_hover);
}

.card .content {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
}

.card .title {
  margin: 0;
  font-size: 22px;
}

.card .informationLine {
  margin: 0;
  color: gray;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.card .informationLine span {
  font-size: 15px;
}

.card .profilimg {
  width: 35px;
  height: 35px;
  background-color: gray;
  border-radius: 100%;
  margin-right: 10px;

}

.card .informationLine span:not(:first-child) {
  padding-left: 7px;
}

.card .informationLine span:not(:last-child) {
  padding-right: 7px;
}
