<div #modalElement class="window" id="modalElement">
  <div class="container">
    <div class="close" (click)="closeWindow()">x</div>
    <div class="firstbox">
      <div class="content">
        <div class="informationLine"><span class="id">#{{ GetId() }}</span></div>
      </div>
      <form action="">
        <input id="titleinput" *ngIf="editTitle" type="text" value="{{GetTitle()}}">
        <h1 *ngIf="!editTitle">{{GetTitle()}}</h1>
        <button *ngIf="editTitle" class="edit button" (click)="saveTmpTitle()">Fertig</button>
        <button *ngIf="!editTitle" class="edit button" (click)="openEditTitle()">Edit Title</button>
      </form>
    </div>
    <div class="main">
      <div class="description">
        <div class="title">
          <h2>Desciption</h2>
          <button *ngIf="!editDescription" class="button" (click)="openEditDescription()">Edit</button>
          <button *ngIf="editDescription" class="button" (click)="saveTmpDescription()">Fertig</button>
        </div>
        <div class="content" *ngIf="!editDescription && GetDescription().length > 0"><p>{{GetDescription()}}</p></div>
        <div class="content" *ngIf="!editDescription && GetDescription().length == 0"><p><span>no description provided</span></p></div>
        <textarea type="text" maxlength="1500" *ngIf="editDescription" id="descriptioninput" value="{{GetDescription()}}"></textarea>
      </div>
      <div class="line"></div>
      <div class="more">
        <div class="component">
          <p>Assignees:</p>
          unset
        </div>
        <div class="component">
          <p>Priority:</p>
          <div class="nselected" *ngIf="prioritySelect" (click)="openPrioritySelection();" >
            <app-priority [priority]="GetPriority()"></app-priority>
          </div>
          <div class="custom-select" *ngIf="!prioritySelect">
            <div class="selected" (click)="closeSelection()">
              <app-priority [priority]="GetPriority()"></app-priority>
            </div>
            <div class="options">
              <div class="option" *ngFor="let p of priorityService.getPriorities()">
                <app-priority [priority]="p" (click)="selectPriority(p)"></app-priority>
              </div>
            </div>
          </div>
        </div>
        <div class="component">
          <p>Status:</p>
          <div class="nselected" *ngIf="statusSelect" (click)="openStatusSelection();" >
            <app-status [status]="GetStatus()"></app-status>
          </div>
          <div class="custom-select" *ngIf="!statusSelect">
            <div class="selected" (click)="closeSelection()">
              <app-status [status]="GetStatus()"></app-status>
            </div>
            <div class="options">
              <div class="option" *ngFor="let s of statusService.getStatusList()">
                <app-status [status]="s" (click)="selectStatus(s)"></app-status>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <button class="delete button" (click)="delete()"><span class="material-symbols-outlined">delete</span>Delete</button>
      <button class="save button" (click)="save()">Save</button>
    </div>
  </div>
</div>
