<div class="window" id="status-edit-window-{{status.id}}">
  <div class="container">
    <div class="close" (click)="closeEdit()">x</div>
    <div class="firstbox">
      <div class="content">
        <div class="informationLine"><span class="id">Edit Status Column</span></div>
      </div>
      <form action="">
        <input id="titleinput" type="text" *ngIf="editTitle" value="{{GetTitle()}}">
        <h1 *ngIf="!editTitle">{{GetTitle()}}</h1>
        <button *ngIf="editTitle" class="edit button" (click)="saveTmpTitle()">Fertig</button>
        <button *ngIf="!editTitle" class="edit button" (click)="openEditTitle()">Edit Title</button>
      </form>
    </div>
    <div class="main">
      <form>
        <div>
          <label>Color:</label>
          <input type="color" name="color" id="{{GetID()}}_color" value="{{GetColor()}}">
        </div>
        <hr>
        <div>
          <label>Card Limit:</label>
          <input type="checkbox" name="limit" id="{{GetID()}}_limit" [checked]="GetLimit()">
        </div>
        <hr>
        <div>
          <label>Max Cards:</label>
          <input type="number" name="max" id="{{GetID()}}_max" class="max" value="{{GetMax()}}" min="0">
        </div>
      </form>
    </div>
    <div class="footer">
      <button class="save button" (click)="save()">Save</button>
    </div>
  </div>
</div>
