<div class="priorityContainer" id="{{priority.id}}_priority" [style.background-color]="priority.color + '2b'" [style.border-color]="priority.color  + '4b'">
  <div class="form">
    <input class="name input" (input)="checkNameInput()" type="text" name="name" id="{{priority.id}}_priority_name" value="{{priority.name}}" maxlength="30" [style.color]="priority.color">
    <input class="color input" type="color" name="color" id="{{priority.id}}_priority_color" value="{{priority.color}}">
    <div class="buttons">
      <button *ngIf="priority.id != -1" class="delete button" (click)="delete()"><span class="material-symbols-outlined">delete</span></button>
    </div>
  </div>
</div>
