.container {
  border: 0;
  width: 100%;
  display: flex;
  height: 4rem;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #adadad;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 0 6px #a8a8a8;
  margin: 1em 3em 1em 1em;
  padding: 0.4em;
  text-align: center;
  outline: 0;
}

input :hover {
  background-color: #d76767;
  outline-offset: inherit;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #87ee78;
  color: #5b5b5b;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgb(128, 128, 128);
}
