<!-- grid-layout.component.html -->
<!--<app-card-input (addCardToColumn)="addNewCardToColumn($event)"></app-card-input>-->
<div class="container" cdkDropListGroup>

    <!-- Column 1 -->
  <app-status-column [status]="statusService.getStatus(0)"></app-status-column>

    <!-- Column 2 -->
  <app-status-column [status]="statusService.getStatus(1)"></app-status-column>

    <!-- Column 3 -->
  <app-status-column [status]="statusService.getStatus(2)"></app-status-column>

    <!-- Column 4 -->
  <app-status-column [status]="statusService.getStatus(3)"></app-status-column>

</div>
