.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0,25%)); /* 4 = Anzahl der Spalten*/
  gap: 0.3em;
  margin: 1rem;
  max-width: 100%;
}

.column {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  word-wrap: break-word;
  overflow: auto;
  max-height: 100%;
}

.c-todo {
  border-top: 6px solid;
}

.c-prog {
  border-top: 6px solid;
}

.c-test {
  border-top: 6px solid;
}

.c-done {
  border-top: 6px solid;
}

span {
  font-size: 2em;
  font-family: sans-serif;
}
