.container {
  display: grid;
  grid-template-columns: repeat(4,25%); /* 4 = Anzahl der Spalten*/
  gap: 0.3em;
  margin: 1rem;
}

.column {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
}

.c-todo {
  border-top: 6px solid rgba(86, 89, 214, 0.7);
}

.c-prog {
  border-top: 6px solid rgba(58, 131, 186, 0.7);
}

.c-test {
  border-top: 6px solid rgba(239, 174, 84, 0.7);
}

.c-done {
  border-top: 6px solid rgba(90, 196, 124, 0.7);
}

span {
  font-size: 2em;
  font-family: sans-serif;
}
