<div class="window" id="editpriority">
  <div class="container">
    <div class="close" (click)="closeWindow()">x</div>
    <div class="firstbox">
      <h1>Edit Priority List</h1>
    </div>
    <div class="main">
      <p class="high">most important <span>(Drag & Drop to sort)</span></p>
        <div *ngIf="!priorityService.isPriorityLoading" class="priorityList" cdkDropList (cdkDropListDropped)="drop($event)">
          <div class="priorityDiv" *ngFor="let priority of this.priorityService.getTmpPriorities(); let i = index;" cdkDrag [style.background-color]="'#ffffff'">
            {{setPrioritiesAmount(i+1)}}
            <app-edit-priority-div [priority]="priority" (deleteFct)="delete(priority)"></app-edit-priority-div>
          </div>
        </div>

        <div *ngIf="priorityService.isPriorityLoading" class="priorityList">
          <div class="priorityDiv">
            <div class="skeleton"></div>
            <div class="skeleton"></div>
            <div class="skeleton"></div>
            <div class="skeleton"></div>
          </div>
        </div>

      <div class="add" (click)="add()">
        <p>+</p>
      </div>
      <p class="low">least important <span>(Drag & Drop to sort)</span></p>
    </div>
    <div class="footer">
      <button class="cancel button" (click)="closeWindow()">Cancel</button>
      <button class="save button" (click)="save()">Save</button>
    </div>
  </div>
</div>
